body {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    background: linear-gradient(to left, #0083B0, #00B4DB);

}

#main {
    background: white; 
    padding: 10px;

}

table {
    width: 100%;
    padding: 20px;

}

img {
    width: 100%;
    height: auto;
    max-height: 100%;
    max-width: 100%;
    display: block;

}

header {
    background: white; 
    padding: 10px; 
    border-radius: 10px 10px 0px 0px; 
    text-align: center;

}

footer {
    background: white;  
    padding: 10px; 
    border-radius: 0px 0px 10px 10px; 
    text-align: center;
}

